BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
AlignConsecutiveMacros: Consecutive
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
AccessModifierOffset: -4
IndentAccessModifiers: false
IndentPPDirectives: AfterHash
PPIndentWidth: 1
InsertNewlineAtEOF: true
